@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400|Fredoka+One|Permanent+Marker|Mountains+of+Christmas|Varela+Round");


/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:focus {
    outline: 0;
}

/* Reset END */


/* General Styles */
body {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    line-height: 1.3;
    font-family: Roboto, sans-serif;
}

[class$='--flex'] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* Flexbox Backup for IE9+ */
.no-flexbox [class$='--flex'] {
    margin: 0 auto;
    text-align: center;
}

.no-flexbox [class$='--flex']::after {
    content: "";
    clear: both;
    display: table;
}

.no-flexbox [class$='--flex'] .menu__item,
.no-flexbox .footer__profiles .profile__link {
    display: inline-block;
}

.no-flexbox .project-preview {
    float: left;
}

.no-flexbox .project-preview__description {
    padding-top: 8%;
}

.no-flexbox .project-preview:first-of-type .project-preview__description {
    padding-top: 15%;
}

.no-flexbox .contacts__content__item,
.no-flexbox .footer__copyright,
.no-flexbox .footer__profiles {
    display: inline-block;
    width: 49%;
}

/* End Flexbox Backup */

section,
.header__main,
.footer__main {
    padding-right: .5rem;
    padding-left: .5rem;
}

section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #222;
    font-family: "Mountains of Christmas";
}

p {
    line-height: 1.65;
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}

img {
    width: 100%;
    height: auto;
    line-height: 1.65;
    font-size: 1.2rem;
}

#poster {


    height: auto;
    line-height: 1.65;
    font-size: 1.2rem;
    position: relative;
    width: 45%;
    margin: 0 auto;

}

h4 {
    font-size: 3em;
    margin-left: 14em;
    display: inline-block;
}



/* Main Header Styles */
.header__main {
    position: relative;
    padding-top: 2rem;
    padding-bottom: .25rem;
    background: #252527 url('img/11.png') no-repeat center;
    background-size: cover;
    widows: 1px;
    height: 300px;



}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(3, 3, 3);
    font-family: 'Ubuntu';
}

.menu {
    padding-top: 1rem;
}

.menu__item {
    margin: .5rem 2rem;
    text-transform: uppercase;
}

.menu__item a,
.menu__item a:visited,
.profile__link a,
.profile__link a:visited {
    color: rgb(255, 255, 255);
    font-family: 'Fredoka One';
    font-size: 1em;
    text-shadow: 3px 3px 18px rgb(0, 0, 0);
}

.menu__item a:hover,
.menu__item a:focus {
    color: #fff;
}

.header__profiles {
    justify-content: flex-end;
    margin-top: 10px;
    border-top: 2px solid #555;
    transition: all .3s ease-out;
}

.header__profiles .profile__link {
    margin: 2px .5rem;
}

.header__profiles .profile__link:not(.profile__link__button) {
    padding-top: 7px;
    font-weight: 300;
}

.header__profiles .profile__link a:hover,
.header__profiles .profile__link a:focus {
    color: #fff;
}

.email-me {
    cursor: pointer;
}

.header__profiles .email-me {
    margin-top: 5px;
    padding: 0 5px 2px;
    text-transform: lowercase;
    color: #ccc;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.header__profiles .email-me:hover,
.header__profiles .email-me:focus {
    color: #fff;
    border: 2px solid #fff;
}



.my-projects {
    position: relative;
    padding-top: 2.5rem;
    background: #ddd;
}

.my-projects__title {
    padding-bottom: 1rem;
}

.project-preview {
    position: relative;
    width: 33.33%;
    transition: all .25s ease;
}

.project-preview img {
    height: 100%;
}

.project-preview__description {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    transition: all .5s ease;
}

.description--flex {
    flex-flow: column nowrap;
}

.project-preview__description li {
    visibility: hidden;
    overflow: hidden;
    padding: .5rem .4rem;
    font-size: 1.5rem;
    font-weight: 400;
    transform: scale(1.1);
    transform-origin: center;
    transition: all .15s ease;
}

.project-preview__description li a,
.project-preview__description li a:visited {
    color: #fff;
}

.project-preview:hover .project-preview__description,
.project-preview:focus .project-preview__description {
    z-index: 1;
    visibility: visible;
    background: rgba(187, 187, 187, .9);
}

.project-preview:hover .project-preview__description li,
.project-preview:focus .project-preview__description li {
    visibility: visible;
    transform: scale(1);
}


/* About Me - Section-2 Styles */
.about-me__content__title {
    position: absolute;
    top: 0;
    left: -9999px;
    margin: 0;
    padding: 0;
}

.about-me__content,
.contacts__content--flex,
.footer__wrapper--flex {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.about-me__title,
.contacts__title {
    padding-bottom: 3rem;
}


/* Contacts - Section-3 Styles */
.contacts__content--flex {
    justify-content: space-between;
}

.contacts__content__item span {
    font-weight: 300;
}

.contacts__content__item a,
.contacts__content__item a:visited {
    color: #006ec3;
}



.footer__main {
    padding-top: 1.5rem;
    padding-bottom: .3rem;
    background: rgb(14, 13, 13) url('img/11.png') no-repeat bottom center;
    background-size: cover;

}

.footer__wrapper--flex {
    justify-content: space-between;
    height: 3.5rem;
}

.footer__copyright {
    position: relative;
    width: 240px;
    height: 40px;
    text-align: right;
    font-weight: 300;
    color: rgb(8, 8, 8);
}

.footer__copyright span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer__profiles.profiles--flex {
    justify-content: space-between;
    width: 240px;
    height: 40px;
}

.footer__profiles .profile__link {
    width: 40px;
    height: 40px;
    opacity: .7;
}

.footer__profiles .profile__link:hover,
.footer__profiles .profile__link:focus {
    opacity: 1;
}

.footer__profiles .email-me {
    width: 37px;
    height: 37px;
    margin-top: 1px;
    background: url('img/11.png') no-repeat center;
    background-size: 60%;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.no-flexbox .footer__profiles .email-me {
    width: 39px;
    height: 39px;
}


legend {
    visibility: hidden;
}

input,
form {
    height: auto;
    line-height: 1.65;
    font-size: 1.2rem;
    position: relative;
    font-family: "Varela Round";
    width: 45%;
    margin: 0 auto;
    background: rgb(209, 209, 209);
}


input,
form[type=submit] {
    opacity: .8;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background: rgb(175, 175, 175);
}



.modal__profiles {
    position: absolute;
    display: none;
    opacity: 0;
    transform: scale(1.2);
}

.modal__profiles .profile__link {
    width: 60px;
    height: 60px;
    margin: 1rem .5rem;
    opacity: .8;
    background: #000;
    border-radius: 100%;
}

.modal__profiles .profile__link img {
    width: 70px;
    height: 70px;
    margin-top: -4px;
    margin-left: -4px;
}

.modal__close {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    opacity: .7;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: #000;
    cursor: pointer;
}

.modal__description__link:hover,
.modal__description__link:focus,
input[type=submit]:hover,
input[type=submit]:focus,
.modal__profiles .profile__link:hover,
.modal__profiles .profile__link:focus,
.modal__close:hover,
.modal__close:focus {
    opacity: .9;
}


/* Medias */
@media (min-width: 1600px) {
    section {
        padding-top: 6rem;
        padding-bottom: 4.5rem;
    }

    .header__profiles.profiles--flex {
        position: absolute;
        right: 10%;
        bottom: 7px;
        border-top: none;
    }

    .project-preview__description li {
        font-size: 1.7rem;
    }

    .about-me__content,
    .contacts__content--flex,
    .footer__wrapper--flex {
        width: 850px;
    }

    input,
    textarea {
        width: 30%;
    }
}

@media (min-width: 1366px) {
    .modal__profiles {
        display: flex;
        position: relative;
        opacity: 1;
        transform: scale(1);
        transition: all .3s ease-out;
    }
}

@media (min-width: 900px) and (max-width: 1599px) {
    section {
        padding-top: 4.5rem;
        padding-bottom: 3.5rem;
    }

    .menu__item {
        margin: .5rem 3rem;
    }

    .header__profiles.profiles--flex {
        position: absolute;
        top: 50%;
        right: 1.5rem;
        flex-flow: column nowrap;
        margin-top: 0;
        border-top: none;
        transform: translateY(-50%);
    }

    .header__profiles .profile__link:not(.profile__link__button) {
        padding-top: 0;
    }

    .about-me__content,
    .contacts__content--flex,
    .footer__wrapper--flex {
        width: 680px;
    }

    .modal__inner {
        width: 50%;
    }

    input,
    textarea {
        width: 60%;
    }
}

@media (max-width: 900px) {
    .no-flexbox .header__profiles .profile__link {
        display: inline-block;
    }

    .about-me__title,
    .contacts__title {
        padding-bottom: 2rem;
    }

    .project-preview {
        width: 50%;
    }

    .no-flexbox .contacts__content__item {
        width: 100%;
    }
}

@media (max-width: 640px) {
    .my-projects {
        padding-top: 2.2rem;
        height: 10%;
    }

    .project-preview {
        width: 100%;
    }

    .project-preview.hide-mobile {
        display: none;
    }

    .project-preview__description li {
        font-size: 1.7rem;
    }

    .about-me__content {
        width: 90%;
    }

    .contacts__content--flex,
    .footer__wrapper--flex {
        justify-content: center;
        width: 100%;
    }

    .contacts__content__item {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 515px) {
    .menu__item {
        margin: .5rem 1rem;
    }

    .profiles--flex {
        justify-content: center;
    }

    .about-me__content,
    .modal__inner {
        width: 95%;
    }

    .footer__wrapper--flex {
        height: 5.5rem;
        padding: 0 .6rem;
    }

    .footer__copyright {
        order: 1;
        text-align: center;
    }

    .footer__copyright span {
        position: relative;
        transform: translateY(0);
    }

    .no-flexbox .footer__copyright {
        width: 100%;
        margin-top: 40px;
    }

    .no-flexbox .footer__profiles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0 auto;
    }

    .modal__title {
        font-size: 1.8rem;
    }

    .modal__title-icon {
        top: 2px;
        width: 30px;
    }

    .modal__description {
        text-align: center;
        line-height: 1.3;
        font-size: 1.1rem;
        font-weight: 300;
    }
}

@media (max-width: 420px) {
    section {
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }

    .header__profiles .profile__link.profile__link__button {
        order: -1;
        flex-basis: 100%;
        margin: 10px 0 0;
        text-align: center;
    }

    .project-preview__description li {
        font-size: 1.3rem;
    }
}

@media (max-width: 395px) {
    .header__main {
        padding-top: 1rem;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }

    .menu {
        padding-top: .5rem;
    }

    .about-me__content p,
    .contacts__content__item p {
        line-height: 1.6;
        font-size: 1.1rem;
    }
}

@media (max-width: 325px) {

    .about-me__title,
    .contacts__title {
        padding-bottom: 1rem;
    }

    .about-me__content p,
    .contacts__content__item p {
        line-height: 1.4;
        font-size: .9rem;
    }
}

/*boton de ir arriba*/
.ir-arriba {
    display: none;
    padding: 1em;


    width: 3em;
    height: 3em;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 2em;
    right: 20px;
    z-index: 1;

}

.button {


    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(46, 0, 35);
    background-color: rgba(82, 0, 68, 0.281);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height: auto;
    line-height: 1.65;
    font-size: 1.2rem;
    position: relative;
    width: 45%;
    margin: 0 auto;
    font-family: "Fredoka One";
}

.button:hover {
    background-color: #8e3e6a
}

.button:active {
    background-color: #910038;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}