

  


html, body {
    margin: 0;
    padding: 0;
    width: 0;
    height: 100%;
   
    background: image("http://www.bellasfondos.eu/pics/2014/0330/1/orig_94449.jpg");


   box-sizing: border-box;
}  
  
  


CSS
#content h1 {
  font-style:italic;
  font-weight:bold;
  font-size:2em;
  flood-color: #13000d;
  font-family:'Helvetica','Verdana','Monaco',"sans-serif", "Trebuchet MS", "Ink Free","Century Gothic", "MV boli";

}

body {
  background:  #f4f9ea;
  
  color: #5d6d7e;
}


h1 {
  font-family: "Trebuchet MS";
  font-size: 4em;
  font-style: normal;
  
}
  
h1, h2 {
  font-family: "Pathway gothic one", "sans serif";
  font-size: 6.5em;
  color:#13000d;
 font-family: "Century Gothic";
  font-size: 5.5em;
  color: #13000d; 
    text-align: center;
    display: block;
    width: auto;
    margin: 2%;
}
p {
  text-align: center;
  font-family:"Trebuchet MS";
  font-size: 4em;
  color:#aeb6bf;
}

h3{
  text-align: center;
  font-size: 2em;
  color:#83707c;
  font-family: "Trebuchet MS";
}
h4{
  font-size:.5em;
  font-family: "Mv boli";
  color: #f4f9ea;
  text-align:center;
 
}
h5{
  font-size:2em;
  font-family: "ink free";
  text-align: center;
  color:#83707c;
  
}

div {
  background-color: lightgrey;
  width: 1300px;
  border: 25px Solid RosyBrown;
  padding: 35px;
  margin: 15px;
}
img {
  border-radius: 50%;
}
  